<ion-content color= primary >
<div class="login-content-logo">
  <div>
    <ion-img src="../../assets/img/logoprimoblack.png" class ="login-logo"></ion-img>
      <p>El vinculo que nos une ...</p>
    </div>
</div>
<div class="login-content-main">
  <ion-list color="primary">
    <ion-item color="primary">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</div>
<div class="login-content-links">
  <ion-button color="medium" expand="block" class="login-button" >INICIAR SESIÓN</ion-button>
  <p><a routerLink="/register" color="medium" href="#" >¿No tienes cuenta? Crea una ahora!</a></p>
  <p><a routerLink color="medium" href="#">¿Haz olvidado tu contraseña?</a></p>
</div>

</ion-content>
