<!-- <ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" color="primary">
  <div class="img-container">

    <ion-img src="assets/img/logoprimoblack.png">
    </ion-img>
    <p style="text-align: center;">El vinculo que nos une...</p>
  </div>
   <div id="container">
    <ion-item >
      <ion-label color="primary" position="floating">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
 
    <ion-button color="secondary">INICIAR SESIÓN</ion-button>
    <p><ion-router-link color="primary" href="#" style="font-size: 14px; font:italic;">¿Haz olvidado tu contraseña?</ion-router-link></p>
    <p>
      <ion-router-link  color="primary"  href="#" style="font-size: 16px; font:italic;">¿No tienes cuenta? Crea una ahora!</ion-router-link>
    </p>
   </div>
</ion-content>
