<ion-content [fullscreen]="true" color="primary">
  <div class="img-container">
    <img src="assets/img/logoprimoblack.png"/>
    <p style="text-align: center;">El vinculo que nos une...</p>
  </div>
  <div id="container">
    <ion-item #usernameItem color="ligth">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input #usernameInput type="text" #username (ionBlur)="validateUsername(username.value)"></ion-input>
    </ion-item>
    <ion-item #passwordItem color="ligth">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input #passwordInput type="password" #password></ion-input>
    </ion-item>
    <ion-button color="medium" expand="block" (click)="login(username.value, password.value)">INICIAR SESIÓN</ion-button>
    <p><ion-router-link color="medium" href="#" style="font-size: 10px; font:italic;">¿No tienes cuenta? Crea una ahora!</ion-router-link></p>
    <p><ion-router-link color="medium" href="#" style="font-size: 10px; font:italic;">¿Haz olvidado tu contraseña?</ion-router-link></p>
  </div>
</ion-content>
